rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /rechargeOperatorSettings/{operatorId} {
      allow read, write: if true;
    }

    match /balanceCheckSettings/{settingId} {
      allow read, write: if true;
    }

    match /ussdHistory/{historyId} {
      allow read, write: if true;
    }
  }
}
