rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rechargeOperatorSettings/{operatorId} {
      allow read, write: if true;
    }

    match /balanceCheckSettings/{operatorId} {
      allow read, write: if true;
    }
  }
}
